#name{
  font-weight:700;font-size:6em;text-transform:uppercase;font-family:proxima-nova;
color:#2962FF;
}
#helo{
  font-style:serif;font-family:Helvetica;
    color:#D50000
}
#npos{
  position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);z-index:500;
}
#id{
  background: #90A4AE;
}
#top{


}
canvas{
    width: 100%;
    height: 100%;
}

body, html{
    width: 100%;
    height: 100%;
    margin: 0;
      padding: auto;
      /*background: #26A69A;*/
background-image: url("test.jpg");
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2979FF;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.spinner{
    width: 80px;
    height: 80px;

    border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;

    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;

    animation: spin 1s infinite linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

#overlay{
  height:100%;
  width:100%;
  background:rgba(0, 0, 0, 1);
  position:fixed;
  left:0;
  top:0;
 }
/*
 nav {

     overflow:hidden;

     position:relative;


     background:url("../images/menu-bg.png") no-repeat scroll left top transparent;

     margin:10px 20px;

     padding:10px;

 }

 nav ul {

     list-style-image:none;

     list-style-position:outside;
    list-style-type:none;

     overflow:hidden;

     margin:0;

     padding:0;

 }

 nav ul li {

     background:url("../images/menu-devider.gif") no-repeat scroll left top transparent;

     float:left;

     font-size:1.5em;

     line-height:normal;

     margin-left:-2px;

     overflow:hidden;

     padding:0;

 }

 nav ul li a {

     color:#000;

     display:block;

     font-family:Tahoma,Arial,Helvetica,serif;

     font-weight:400;

     text-decoration:none;

     text-transform:none;

     padding:3px 24px 5px 26px;

 }

 nav ul li a:hover {

     text-decoration:none;

     color:#fc0;

 }
*/
