body{
  background:
#000;
  padding: 30px;
}



#heading{
  margin-top: 50px;
  text-align: center;
  font-size: 60px;
  font-style: italic;
  font-family: serif;
  color: #26A69A;
  margin-bottom: 0px;
}
#para{
  font-size: 30px;
  font-family: serif;
  font-style: italic;
  color: #000;
}
#project-head{
  font-size: 45px;
  font-family: serif;
  color: #000;
}


.box{
  text-align:center;
    position:relative;
    top:5px;
}
.box {
    width:80%;
    height:auto;
    background:#78909C;
    margin:80px auto;
}
/*==================================================
 * Effect 1
 * ===============================================*/
.effect1{
    -webkit-box-shadow: 0 12px 7px -7px #777;
       -moz-box-shadow: 0 12px 7px -7px #777;
            box-shadow: 0 12px 7px -7px #777;
}
